<h2 class="ui center aligned icon header">
  <i class="settings icon"></i>
  <div class="content">
    FING CMS
    <div class="sub header">Content managment for the people</div>

    <div class="ui four column very relaxed grid" style="margin-top: 60px;">
    	<div class="column"></div>
    	<div class="column">
    		<a ui-sref="pages"><i class="file text outline icon"></i>Pages</a>
    	</div> 	
    	<div class="column">
    		<a ui-sref="posts"><i class="newspaper icon"></i>Posts</a>
    	</div>
    </div>
  </div>
</h2>