<div class="ui left vertical menu fixed">
  <div class="item">
    <h2 class="ui center aligned icon header">
      <img style="margin-bottom: 20px;" src="img/logo_2-1.png">

      <div class="content">
        MOM
        <div class="sub header">Resource Managment</div>
      </div>
    </h2>
  </div>  
  <a class="item" ng-class="{'active': currentState == 'resources'}" ui-sref="resources"><i class="world icon"></i> Resources</a>
  <a class="item" ng-class="{'active': currentState == 'users'}" ui-sref="users"><i class="users icon"></i> Users</a>
  <a class="item" ng-class="{'active': currentState == 'user-types'}" ui-sref="user-types"><i class="doctor icon"></i> User Types</a>
  <a class="item" ng-class="{'active': currentState == 'emails'}" ui-sref="emails"><i class="mail icon"></i> Emails</a>
  <a class="item" ng-class="{'active': currentState == 'emailsettings'}" ui-sref="emailsettings"><i class="options icon"></i>Settings</a>
  <a href ng-click="logout()" class="item"><i class="sign out icon"></i> Logout</a>
</div>