 <style type="text/css">
  body {
    background-color: #00bcd7;
  }
  .main-content{
    margin-top: 0;
    margin-left: 0;
    height: 100%;
  }
  .main-content > div, .main-content .grid{
    height: 100%;
  }    
  .image {
    margin-top: -100px;
  }
  .column {
    margin-top: -100px;
    max-width: 450px;
  }
</style>
<div class="ui middle aligned center aligned grid">
  <div class="column">
    <h2 class="ui white image header">
      <div class="content">
        Request Password Reset
      </div>
    </h2>
    <form ng-submit="submit()" class="ui form" ng-class="{'error': errors != '', 'success': formSuccess}">
      <div class="ui stacked segment">
      	<div class="field">
      		<a ui-sref="login"><i class="reply icon"></i>Back to login</a>
      	</div>
        <div class="field">
          <div class="ui left icon input">
            <i class="user icon"></i>
             <input required="required" ng-model="email" type="email" name="email" placeholder="Email">
          </div>
        </div>

        <button class="ui fluid large submit primary button" type="submit">Request Password Reset</button>
        <div class="ui error message">
          <p>{{errors}}</p>
        </div>
      </div>

      <div class="ui success message">
	  	    <i ng-click="formSuccess = false" class="close icon"></i>
	        <div class="header">Password reset sent.<br/>Feel free to close this window and follow the instructions in the email.</div>    
	    </div>

    </form>
</div>